<div class="multibet-container">
  <button (click)="toggleVisibility()" class="toggle-button" [class.open]="isVisible">
    <i class="pi" [ngClass]="{'pi-minus': !isVisible, 'pi-times': isVisible}"></i>
  </button>
  <div class="multibet-box" [class.visible]="isVisible">
    <div class="header">
      <h3>Multibet</h3>
      <button (click)="toggleVisibility()" class="close-button">
        <i class="pi pi-times"></i>
      </button>
    </div>
    <div class="content">
      <ul>
        <li *ngFor="let bet of bets" class="bet-item">
          <div class="bet-info">
            <span class="bet-subject">{{ bet.subject }}</span>
            <span class="bet-description">{{ bet.event.name }}</span>
            <span class="bet-odds">{{ bet.odds | number:'1.2-2' }}</span>
          </div>
          <button (click)="deleteBet(bet.id)" class="delete-bet">
            <i class="pi pi-trash"></i>
          </button>
        </li>
      </ul>
      <div class="bet-input">
        <label for="betAmount">Bet Amount</label>
        <input id="betAmount" type="number" [(ngModel)]="betAmount">
      </div>
      <div class="totals">
        <div>
          <span>Total Odds:</span>
          <span class="value">{{ total_odds | number:'1.2-2' }}</span>
        </div>
        <div>
          <span>Potential Winnings:</span>
          <span class="value winning">{{ getPotentialWinnings() | currency:'USD':'symbol':'1.2-2' }}</span>
        </div>
        <button pButton (click)="submitMultibet()" class="w-full flex justify-content-center">Submit</button>
      </div>
    </div>
  </div>
</div>
