<div class="container-fluid flex flex-column h-screen">
  <!-- Topbar -->
  <div class="topbar-container w-screen p-2 pb-1 w-full">
    <app-topbar></app-topbar>
  </div>

  <!-- Main Content: Sidebar and Chat Area -->
  <div class="flex h-full w-full">
    <!-- Sidebar -->
    <div class="sidebar-container p-2 w-fit">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Chat Area -->
    <div class="chat-container flex-1 p-2 h-full flex flex-column">
      <router-outlet></router-outlet>
      <app-multibet></app-multibet>
      <app-chat-manager></app-chat-manager>
    </div>
  </div>
</div>


