<div class="chat-panel" [class.minimized]="isMinimized">
  <div class="chat-header">
    <div class="user-info">
      <p-avatar shape="circle"  styleClass="user-avatar"></p-avatar>
      <span class="user-name">
        {{ chat.name ? chat.name: getUsernames() }}
      </span>
    </div>
    <div class="chat-controls">
      <button pButton [icon]="isMinimized ? 'pi pi-chevron-up' : 'pi pi-minus'"
              class="p-button-text p-button-rounded minimize-btn"
              (click)="minimizeChat()"></button>
      <button pButton icon="pi pi-times"
              class="p-button-text p-button-rounded close-btn"
              (click)="closeChat(chat.uuid)"></button>
    </div>
  </div>
  <div class="chat-content" [class.hidden]="isMinimized">
    <div id='messagesContainer{{chat.uuid}}' class="messages-container pb-0" (scroll)="onScroll()" #messagesContainer>
      <div *ngIf="loadingMoreMessages" class="flex flex-column w-full" #skeleton>
        <p-skeleton  height="2rem" styleClass="mb-2" borderRadius="16px" class="w-10rem" />
        <div class="w-full flex flex-row justify-content-end">
          <p-skeleton  height="2rem" styleClass="mb-2" borderRadius="16px" class="w-8rem" />
        </div>
      </div>
      <div class="messages-wrapper">
        <ng-container *ngFor="let message of messages; let i = index">
          <div [ngClass]="{'message-right': message.isCurrentUser, 'message-left': !message.isCurrentUser}" class="message-container">
            <div class="message-content">
              <span class="user-name" *ngIf="!message.isCurrentUser && (i === 0 || messages[i-1].user.username !== message.user.username)">
                {{ message.user.username }}
              </span>
              <div class="message-bubble">
                {{ message.text }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="otherUserTyping" class="typing-indicator my-2">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>

    <div class="input-area">
      <input type="text" pInputText [(ngModel)]="newMessage"
             (input)="onTyping()"
             (keyup.enter)="onSendMessage(newMessage)"
             placeholder="Type a message">
      <button pButton icon="pi pi-send"
              class="p-button-rounded send-btn"
              (click)="onSendMessage(newMessage)"></button>
    </div>
  </div>
</div>
