.message-container{
  display: flex;
}
/* Align messages from the current user to the right */
.message-right {
  justify-content: flex-end;
}

/* Align messages from other users to the left */
.message-left {
  justify-content: flex-start;
}

:host.ng-star-inserted{
  height: 100% !important;
}

#messageContainer.container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#messageContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.no-border-button-group ::ng-deep .p-button {
    border: none !important;
    box-shadow: none !important; /* Remove shadow if any */
}

