<div class="futuristic-sexy-bet-container">
  <div *ngFor="let event of events" class="event-card">
    <div class="event-header border-round-top flex flex-row flex-wrap justify-content-center align-items-center">
      <div class="event-info p-0 justify-content-center align-items-center col-12 pt-1">
        <span class="event-status" [class.live]="event.isLive">
          {{ event.date | date: 'dd-MM-yyyy HH:mm' : 'UTC' }}
        </span>
        <span class="event-score" *ngIf="event.isLive">{{ event.score }}</span>
      </div>
      <div class="teams-info p-0 flex justify-content-between col-12">
        <span class="team-name col-5 text-center">{{ event.home_team.name }}</span>
        <span class="vs col-2 text-center">VS</span>
        <span class="team-name col-5 text-center">{{ event.guest_team.name }}</span>
      </div>
    </div>
    <div class="bets-container">
        <div *ngFor="let bet of event.grouped_bets.WinOnlyBet.subjects.WINNING_TEAM"
        class="col-4">
          <p-button
            [styleClass] = "isBetSelected(bet.id) ? 'p-button-info' : 'p-button-secondary'"
            class="col-12 m-0 justify-content-center p-0"
            (click)="toggleBetInMultibet(bet.id)"
          >
            <span class="bet-winner m-0 p-0 text-center text-primary-50">{{ bet.predicted_winner }}</span>
            <span class="bet-odds">{{ bet.odds }}</span>
          </p-button>
        </div>
    </div>

  </div>
</div>
