<div *ngFor="let event of events" class="flex flex-row flex-wrap col-6 p-0 mb-2">
  <!-- Event Teams Section -->
  <p-card class="col-12 p-0">
    <div class="flex flex-row col-12 p-0">
      <div class="col-5 flex flex-column align-items-center justify-content-center p-0">
        <p-avatar class="col-12 flex justify-content-center"></p-avatar>
        <p class="text-center m-0">{{ event.home_team.name }}</p>
      </div>
      <p-divider layout="vertical" class="col-2 m-0"></p-divider>
      <div class="col-5 flex flex-column align-items-center justify-content-center p-0">
        <p-avatar class="col-12 flex justify-content-center"></p-avatar>
        <p class="text-center m-0">{{ event.guest_team.name }}</p>
      </div>
    </div>
    <p-divider layout="horizontal" class="m-0"></p-divider>
    <!-- Bets Section -->
    <div class="flex flex-row flex-wrap p-0 m-0">
      <ng-container *ngFor="let bet of event.grouped_bets.WinOnlyBet.subjects.WINNING_TEAM">
        <div class="col-4 text-center p-0 m-0">
          <p class="m-0">{{ bet.predicted_winner }}</p>
          <p-button label="{{ bet.odds }}" severity="secondary" class="w-full m-0 p-0" styleClass="p-button-sm"></p-button>
        </div>
      </ng-container>
    </div>
  </p-card>
</div>
